* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
}

.page {
    padding: 90px 0 30px;
}

.page__section {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.page__section--1 {
    background-color: rgb(139, 66, 17);
}

.page__section--2 {
    background-color: rgb(119, 14, 105);
}

.page__section--3 {
    background-color: rgb(20, 85, 11);
}

.page__title {
    font-size: 40px;
    margin: 0 0 40px;
}

.page__text {
    font-size: 16px;
    line-height: 22px;
}

.page__text p {
    margin: 0 0 20px;
}

.page__sub-title {
    font-size: 30px;
    margin: 0 0 20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgb(148, 24, 24);
}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 70px;
}
.header__logo {
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}
.header__menu {
}
.menu {
}
.menu__icon {
    display: none;
}
.menu__body {
}
.menu__list {
}

.menu__list > li {
    position: relative;
    margin-left: 20px;
}

.menu__link {
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease;
}

.menu__arrow {
    display: none;
}

.menu__link:hover,
.menu__sub-link:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

.menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    padding: 15px;
    min-width: 200px;
}

.menu__sub-list li {
    margin: 0 0 10px;
}

.menu__sub-list li:last-child {
    margin: 0;
}

.menu__sub-link {
    color: #fff;
    transition: all 0.3s ease;
}

body.pc .menu__list > li:hover .menu__sub-list,
body.touch .menu__list > li.active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
}

body.touch .menu__list > li {
    display: flex;
    align-items: center;
}

body.touch .menu__link {
    flex: 1 1 auto;
}

body.touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    transition: transform 0.3s ease;
}

body.touch .menu__list > li.active .menu__arrow {
    transform: rotate(-180deg);
}

@media (min-width: 767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
    .menu__list > li {
        padding: 10px 0;
    }

    .menu__sub-list {
        transform: translate(0, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease;
    }
}

@media (max-width: 767px) {
    .menu__icon {
        position: relative;
        z-index: 5;
        display: block;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease;
        background-color: #fff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: '';
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }

    .menu__icon.active span{
        transform: scale(0) translateY(-50%);
    }

    .menu__icon.active::before {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
    }

    .menu__icon.active::after {
        bottom: 50%;
        transform: rotate(45deg) translateY(50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px;
        transition: left 0.3s ease;
        overflow: auto;
    }

    .menu__body.active {
        left: 0;
    }

    .menu__body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 70px;
        background-color: #912105;
    }

    .menu__list > li {
        margin: 0 0 30px;
        flex-wrap: wrap;
    }

    .menu__list > li:last-child {
        margin: 0;
    }

    .menu__list > li.active .menu__sub-list {
        display: block;
    }

    .menu__link {
        font-size: 24px;
    }

    .menu__sub-list {
        position: relative;
        background-color: #fff;
        flex: 1 1 100%;
        margin: 20px 0 0;
        display: none;
    }

    .menu__sub-link {
        color: #000;
        font-size: 20px;
    }
}